<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="TransactionsFilePath" value="csv/transactions.csv" />
		<add key="SecuritiesFilePath" value="csv/securities.csv" />
		<add key="PortfoliosFilePath" value="csv/portfolios.csv" />
		<add key="OutputPath" value="csv" />
	</appSettings>
</configuration>